---
// Component Imports
import Navbar from "../components/Navbar.astro"
import Hero from "../components/Hero.astro"
import Divider from "../components/Divider.astro"

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<div class="bg-slate-900">
    <Navbar />
    <Hero />
    <Divider />
</div>

